<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% seo %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/litera/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/theme.css" >
    <title>Hey Guys</title>
    <meta charset="utf-8">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="navbar-brand mr-1 mb-1 mt-1" href="/">"Hey Guys"</a></li>
            <li class="nav-item"><a class="nav-link mr-1 mb-1 mt-1" href="/sources/"</>Further Reading</a></li>
          </ul>
        </div>
       </div>
    </nav>
    {{ content }}
  </body>
</html>
